service: documents-api
provider:
  name: aws
  runtime: dotnet8
  vpc: ${self:custom.vpc.${opt:stage}}
  stage: ${opt:stage}
  region: eu-west-2
  timeout: 29
  tracing:
    apiGateway: true
    lambda: true
  logs:
    restApi:
      accessLogging: true
      executionLogging: true
      fullExecutionData: true
      level: INFO
  environment:
    CONNECTION_STRING: Host=${ssm:/documents-api/${self:provider.stage}/postgres-hostname};Port=${ssm:/documents-api/${self:provider.stage}/postgres-port};Database=${ssm:/documents-api/${self:provider.stage}/postgres-database};Username=${ssm:/documents-api/${self:provider.stage}/postgres-username};Password=${ssm:/documents-api/${self:provider.stage}/postgres-password}
    BUCKET_NAME: document-evidence-store-${self:provider.stage}-bucket
#  s3:
#    documentsBucket:
#      accessControl: Private
#      name: ${self:provider.environment.BUCKET_NAME}
#      bucketEncryption:
#        ServerSideEncryptionConfiguration:
#          - ServerSideEncryptionByDefault:
#              SSEAlgorithm: AES256
#      publicAccessBlockConfiguration:
#        BlockPublicAcls: true
#        BlockPublicPolicy: true
#        IgnorePublicAcls: true
#        RestrictPublicBuckets: true
#      corsConfiguration:
#        CorsRules:
#          - AllowedMethods:
#              - GET
#              - POST
#            AllowedOrigins: ${self:custom.corsDomains.${self:provider.stage}}

package:
  artifact: ./bin/release/net8.0/documents-api.zip
  individually: true

plugins:
  - serverless-plugin-lambda-insights

functions:
  DocumentsApi:
    name: ${self:service}
    handler: DocumentsApi::DocumentsApi.LambdaEntryPoint::FunctionHandlerAsync
    lambdaInsights: true
    role: lambdaExecutionRole
    package:
      artifact: ./bin/release/net8.0/documents-api.zip
    layers:
      - arn:aws:lambda:${self:provider.region}:553035198032:layer:nodejs12:38
    events:
      - http:
          path: /{proxy+}
          method: ANY
          authorizer:
            arn: ${self:custom.authorizerArns.${opt:stage}}
            type: request
            resultTtlInSeconds: 0
            identitySource: method.request.header.Authorization
            managedExternally: true
  DocumentsMalwareScanSuccessfulFunction:
    name: ${self:service}-malware-scan-successful
    handler: DocumentsApi::DocumentsApi.S3EntryPoint::DocumentCreated
    lambdaInsights: true
    role: lambdaExecutionRole
    package:
      artifact: ./bin/release/net8.0/documents-api.zip
#  DocumentsOrchestrator:
#    runtime: python3.7
#    name: ${self:service}-documents-orchestrator
#    handler: lambda-orchestrator.lambda_handler
#    lambdaInsights: true
#    package:
#      artifact: ./python/lambda-orchestrator.zip
#    role: lambdaExecutionRole
#    events:
#      - s3:
#          bucket: documentsBucket
#          event: s3:ObjectCreated:*
#          rules:
#            - prefix: pre-scan/

resources:
  Resources:
    lambdaExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /${self:service}/${self:provider.stage}/
        RoleName: ${self:service}-lambdaExecutionRole
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
          - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        Policies:
          - PolicyName: manageLogs
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:logs"
                          - Ref: "AWS::Region"
                          - Ref: "AWS::AccountId"
                          - "log-group:/aws/lambda/*:*:*"
                - Effect: "Allow"
                  Action:
                    - "s3:PutObject"
                    - "s3:GetObject"
                  Resource:
                    Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - "Ref": "ServerlessDeploymentBucket"
          - PolicyName: lambdaInvocation
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - "lambda:InvokeFunction"
                  Resource: "*"
#          - PolicyName: documentsBucketAccess
#            PolicyDocument:
#              Version: "2012-10-17"
#              Statement:
#                Action:
#                  - s3:GetObject
#                  - s3:GetObjectTagging
#                  - s3:PutObject
#                  - s3:PutObjectTagging
#                  - s3:DeleteObject
#                Effect: "Allow"
#                Resource:
#                  - "arn:aws:s3:::${self:provider.environment.BUCKET_NAME}/*"

custom:
  authorizerArns:
    development: arn:aws:lambda:eu-west-2:859159924354:function:api-auth-verify-token-new-development-apiauthverifytokennew
    staging:     arn:aws:lambda:eu-west-2:715003523189:function:api-auth-verify-token-new-staging-apiauthverifytokennew
    production:  arn:aws:lambda:eu-west-2:153306643385:function:api-auth-verify-token-new-production-apiauthverifytokennew
  corsDomains:
    staging:
      - "https://*.hackney.gov.uk"
    production:
      - "https://*.hackney.gov.uk"
  vpc:
    staging:
      securityGroupIds:
        - sg-072d99bc766f115b9
      subnetIds:
        - subnet-0aa5f484db1aa801c
        - subnet-012870b02db9a3bf8
    production:
      securityGroupIds:
        - sg-0ad1c09f043d9f572
      subnetIds:
        - subnet-0e6bc9b4ac24493cc
        - subnet-05e595c59b7d6c8df
